/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and general styling */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
}

/* Header */
/* Основной стиль для header */
header {
    background-color: #dadada;
    color: #000000;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between; /* Размещение блоков по краям */
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Контейнер для логотипа и HOME */
.logo-home {
    display: flex;
    align-items: center;
}

/* Логотип */
header .logo img {
    width: 100px;
}

/* Стили для HOME */
.HOME a {
    color: #1f1f1f;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    margin-left: 20px; /* Отступ между логотипом и HOME */
}

/* Контейнер для остальных элементов навигации */
.nav {
    display: flex;
    align-items: center;
}

/* Стили для отдельных блоков навигации */
.nav div {
    display: flex;
    align-items: center;
    margin-left: 30px; /* Отступ между элементами */
}

/* Стили для ссылок */
.nav a {
    color: #1f1f1f;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

/* Эффект при наведении на ссылку */
.nav a:hover, .HOME a:hover {
    color: #000000; /* Цвет текста при наведении */
}

/* Стили для картинок в навигации */
.nav img {
    width: 20px; /* Устанавливаем размер для картинок */
    height: 20px;
    margin-left: 5px; /* Отступ между текстом и картинкой */
    transition: transform 0.3s ease;
}

/* Эффект увеличения картинки при наведении */
.nav img:hover {
    transform: scale(1.1); /* Немного увеличиваем изображение при наведении */
}
/* Hero Section */
.hero {

    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding: 100px 20px;
}


.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
}

.title {
    background-color: #d8d8d8;
    text-align: center; /* Центрируем текст */
    font-size: 1.5rem; /* Размер шрифта */
    font-weight: 300; /* Тонкий шрифт */
    color: #000000; /* Цвет текста */
}

.divider {
    border: none; /* Убираем стандартные стили */
    height: 1px; /* Высота линии */
    background-color: #525252; /* Цвет линии */
    margin: 0; /* Убираем отступы */
}

image.myAcount {
    width: 50%;
}
/* Product Grid */
.product-grid {
    background-color: rgb(253, 253, 253);
    display: flex; /* Используем Flexbox для центрирования */
    flex-wrap: wrap; /* Позволяем элементам переноситься на новую строку */
    justify-content: center; /* Центрируем карточки по горизонтали */
    align-items: center; /* Центрируем карточки по вертикали */
    gap: 30px; /* Промежуток между карточками */
    padding: 40px 20px;
    min-height: 80vh; /* Увеличиваем минимальную высоту контейнера */
}

.product-card {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgb(255, 255, 255);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 250px; /* Фиксированная ширина карточки */
    display: flex; /* Используем Flexbox для центрирования содержимого карточки */
    flex-direction: column; /* Вертикальное расположение элементов внутри карточки */
    justify-content: center; /* Центрируем содержимое по вертикали */
    align-items: center; /* Центрируем содержимое по горизонтали */

}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.product-card img {
    width: 80%;
    height: auto;
    object-fit: cover;
}

.product-info {
    padding: 20px;
}

.product-info h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-info h3 a {
    text-decoration: none; /* Убираем подчеркивание ссылки */
    color: #333; /* Темно-серый цвет */
    transition: color 0.3s ease-in-out; /* Плавное изменение цвета */
}

.product-info h3 a:hover {
    color: rgba(0, 0, 0, 0.5); /* Оранжевый цвет при наведении */
    text-decoration: underline; /* Подчеркивание при наведении */
}

.product-info p {
    font-size: 1rem;
    margin-bottom: 15px;
}

.product-info .price {
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

/* Footer */
footer {
    background-color: rgb(17, 17, 17);
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

footer .footer-content p {
    font-size: 0.9rem;
}
.nav_footer {
    background-color: #111111; /* Цвет фона навигации */
    padding: 20px 0; /* Отступы сверху и снизу */
    text-align: center; /* Центрируем текст */
}

.nav_footer ul {
    list-style: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы */
    margin: 0; /* Убираем внешние отступы */
    display: flex; /* Используем Flexbox для расположения элементов в строку */
    justify-content: center; /* Центрируем элементы по горизонтали */
}

.nav_footer li {
    margin: 0 15px; /* Отступы между элементами списка */
}

.nav_footer a {
    text-decoration: none; /* Убираем подчеркивание */
    color: #ffffff; /* Цвет текста */
    font-size: 0.9rem; /* Размер шрифта */
    transition: color 0.3s; /* Плавный переход цвета при наведении */
}

.nav_footer a:hover {
    color: #ff6347; /* Цвет текста при наведении */
}

/* стили для продукта */

main {
    padding: 20px;
}

.product-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 15px; /* Сглаживание углов */
}

/* Левая часть - изображение товара */
.image-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainImage {
    width: 400px;
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.product-images {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s ease-in-out;
    border-radius: 5px;
}

.thumbnail:hover {
    border: 2px solid #000;
}

/* Правая часть - информация о товаре */
.product-info {
    flex: 1.5;
    display: flex;
    flex-direction: column;
}

.product-info h1 {
    font-size: 2rem;
    margin: 0;
    color: #333;
}

.product-info p {
    font-size: 1rem;
    margin: 10px 0;
    color: #666666;
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f39c12;
    margin: 10px 0;
}

/* Список характеристик */
.product-specs {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.product-specs li {
    margin-bottom: 10px;
    font-size: 1rem;
}

.product-specs strong {
    font-weight: bold;
    color: #333;
}

/* Кнопки и действия */
.product-actions {
    margin-top: 20px;
    display: flex; /* Используем Flexbox */
    gap: 10px; /* Отступ между элементами */
}

.product-actions button,
.product-actions a {
    padding: 12px 20px;
    font-size: 1rem;
    margin-right: 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    transition: all 0.3s ease;
}

/* Кнопка "Добавить в корзину" */
.product-actions button {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    border: none;
}

.product-actions button:hover {
    background-color: #000000;
}

/* Кнопка "Кастомизировать" */
.product-actions a {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    text-decoration: none;
    border: none;
}

.product-actions a:hover {
    background-color: #000000;
}
/*                                стили для my account                                  */

h1, h2 { color: #333; }
table { width: 100%; border-collapse: collapse; margin-top: 10px; }
th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
th { background-color: #f4f4f4; }
.container { max-width: 800px; margin: auto; }
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
}
.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.cart-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.cart-item-details {
    flex: 1;
    margin-left: 10px;
}
.cart-summary {
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
}
.checkout-btn, .remove-btn {
    display: block;
    background: black;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
.remove-btn {
    background: red;
}

.thank-you-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Полная высота экрана */
    text-align: center;
}

.home-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.home-btn:hover {
    background-color: #333;
}

/* Стили для кнопок */
button, .button-link {
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Кнопка "Изменить" - зелёная */
.button-link.edit {
    color: white;
    background-color: #4CAF50; /* Зеленый */
}

.button-link.edit:hover {
    background-color: #45a049; /* Более темный зеленый при наведении */
}

/* Кнопка "Удалить" - красная */
.button-link.delete {
    color: white;
    background-color: #f44336; /* Красный */
}

.button-link.delete:hover {
    background-color: #e53935; /* Более темный красный при наведении */
}

.button-container {
    text-align: right; /* Смещает кнопку вправо */
    margin-top: 20px;
    margin-bottom: 20px; /* Отступ снизу */
}

.btn-create-user {
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.btn-create-user:hover {
    background-color: rgba(0, 0, 0, 0.85);
}

/*                                стили для product details */

